In [7]:
import pandas as pd
import inflection

In [8]:
df = pd.read_csv("C:\\Users\\jatos\\Desktop\\JA\\Material Data Science\Datasets\\archive\\zomato.csv")
df1 = df.copy()

In [9]:
# Funções

#Preenchimento do nome dos países:
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

#-------------------------------------------------------
#Criação do Tipo de Categoria de Comida

def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

#--------------------------------------------------------
# Criação do nome das Cores

COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

#--------------------------------------------
# Renomear as colunas do DataFrame:

def rename_columns(dataframe):
    df1 = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df1
# Limpando os dados
df1 = df1.dropna(subset=['Cuisines'])
df1["Cuisines"] = df1.loc[:, "Cuisines"].apply(lambda x: x.split(",")[0])

# Convertendo a coluna dos códigos
df1['Country Code'] = df1['Country Code'].apply(lambda x: country_name(x))

In [10]:
# 1. Qual o nome da cidade que possui mais restaurantes registrados?
df_aux = df1.drop_duplicates(subset = 'Restaurant Name', keep = 'first')
mais_rest = (df_aux.loc[:,['City','Restaurant Name']]
             .groupby('City').count()
             .sort_values('Restaurant Name', ascending=False).reset_index())
print(mais_rest.iloc[0,0])

Singapore

In [11]:
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?
linha = df1['Aggregate rating'] >= 4
df_aux = df1.loc[linha, :]
df_aux = df_aux.drop_duplicates(subset = 'Restaurant ID', keep = 'first')
rating_four = (df_aux.loc[:, ['City', 'Restaurant ID']]
               .groupby('City').count()
               .sort_values('Restaurant ID', ascending = False).reset_index())
print(rating_four.iloc[0,0])

London

In [12]:
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?
linha = df1['Aggregate rating'] <= 2.5
df_aux = df1.loc[linha, :]
df_aux = df_aux.drop_duplicates(subset = 'Restaurant ID', keep = 'first')
rating_four = (df_aux.loc[:, ['City', 'Restaurant ID']]
               .groupby('City').count()
               .sort_values('Restaurant ID', ascending = False).reset_index())
print(rating_four.iloc[0,0])

Gangtok

In [13]:
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
df_aux = (df1.loc[:, ['City','Average Cost for two']]
          .groupby('City').mean()
          .sort_values('Average Cost for two', ascending = False).reset_index())
pd.set_option('float_format', '{:,.2f}'.format)
print(df_aux.iloc[0,0])

Adelaide

In [14]:
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?
df_aux = df1.drop_duplicates(subset='Cuisines', keep='first')
cousine = (df_aux.loc[:, ['City', 'Cuisines']]
          .groupby('City').count()
          .sort_values('Cuisines', ascending=False).reset_index())
print(cousine.iloc[0,0])

Brasília

In [15]:
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?
linha = df1['Has Table booking'] == 1
df1_aux = df1.loc[linha, :]
df_aux = (df1_aux.loc[:, ['City', 'Has Table booking']]
          .groupby('City').count()
          .sort_values('Has Table booking', ascending=False).reset_index())
print(df_aux.iloc[0,0])

Bangalore

In [16]:
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?
linha = df1['Is delivering now'] == 1
df_aux = df1.loc[linha, :]
delivery = (df_aux.loc[:, ['City', 'Is delivering now']]
            .groupby('City').count()
            .sort_values('Is delivering now', ascending = False).reset_index())
print(delivery.iloc[0,0])

Aurangabad

In [17]:
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?
linha = df1['Has Online delivery'] == 1
df_aux = df1.loc[linha, :]
df_aux = df_aux.drop_duplicates(subset='Restaurant ID', keep='first')
online = (df_aux.loc[:, ['City', 'Has Online delivery']]
          .groupby('City').count()
          .sort_values('Has Online delivery', ascending = False).reset_index())
print(online.iloc[0,0])

Bhopal

In [18]:
# 9. Qual a cidade com o maior número de restaurantes?

df_aux = df_aux.drop_duplicates(subset='Restaurant ID', keep='first')
df_aux = (df1.loc[:, ['City', 'Restaurant ID']]
          .groupby('City').count()
          .sort_values('Restaurant ID', ascending = False).reset_index())
df_aux

              City  Restaurant ID
0           Nagpur             99
1            Surat             95
2       Birmingham             95
3        Abu Dhabi             95
4             Doha             94
..             ...            ...
120      Ghaziabad              1
121    Gandhinagar              1
122  San Juan City              1
123     Roodepoort              1
124       Zirakpur              1

[125 rows x 2 columns]